.form-box {
    text-align: center;
    position: absolute;
    background-color: lightgray;
    width: 300px;
    border: 10px solid green;
    padding: 50px;
    margin: 20px;
    top: 30%;
    left: 35%;
}

input {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

input[type=submit] {
    width: 120px;
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.error {
    color: red;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.nav-li {
    float: right;
}

.nav-li.float-left {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover:not(.active) {
    background-color: dimgray;
}

.active {
    background-color: green;
}

.default-image {
    width: 100%;

}

body {
    margin: 0px;
}

.food-item-box {
    background-color: lightgray;
    width: 200px;
    height: 251px;
    border: 3px solid green;
    padding: 15px;
    margin: 25px;
    display: inline-block;
    vertical-align: top;
}

.small-image {
    width: 200px;
}

input[type=number] {
    width: 45px;
    padding: 5px;
}

.food-item-box input[type=submit] {
    width: 100px;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-left: 35px;
    cursor: pointer;
}

.cart-item-container {
    height: 80px;
}

.cart-img {
    height: 60px;
    float: left;
    border: 1px solid black;
    margin: 5px 50px 10px 0px;

}

.cart-text {
    margin: 0 0 10px;
}

.cart-item-container input[type=submit] {
    width: 140px;
    height: 35px;
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 0 3px;
    cursor: pointer;

}
.order-container{
    width: 600px;
    text-align: center;
}

.order-container input {
    width: 600px;
    padding: 5px 0;
    margin: 15px 0;
}
.order-container input[type=submit]{
    width: 150px;
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.slider-container{
    max-width: 600px;
    position: relative;
    margin: auto;
}


.order-list-container{
    background-color: lightgray;
}
.order-list-container input[type=submit]{
    width: 200px;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 0 0 20px 20px;
 }

.receipt-container{
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 20px;
    display: inline-block;

}
.receipt-container .underline{
    text-decoration: underline;
}





